body{
    margin: 0px;
    padding: 0px;
}

header{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.title{
    height: 100px;
    background-color: #2c3250;
    margin-bottom: 0px;
    padding: 0px;
}

.logo_header{
    width: 140px;
    height: 85px;
    float: left;
    margin-left: 30px;
}